
@{
    ViewBag.Title = "leave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<head>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .lable-font {
            font-size: 18px;
            color: black;
            margin: 5px;
        }

        .hr {
            border: 1px solid black;
        }
        #leave-heading {
            background-color: white;
            opacity: 0.7;
            margin-top: 30px;
            margin-left: 115px;
            width: 93%;
            border-radius: 5px;
            box-shadow: 0 3px #e1dddd
        }
    </style>
</head>
<script>
    document.getElementById("leave").style.display = "none";

    document.getElementById("request").style.display = "block";
</script>

<body style="background-color:#e9e8e8;">
    <div class="container">

        <div class="sidenav leave-sidenav">
            <div style="margin-left:10px">
                <ul style="list-style-type:none; color:white;">
                    <li>
                        <img src="~/images/download2.jpg" width="70px" height="70px" style="border-radius:50%; border:solid 3px #DEB150 " id="sideprofile" />
                    </li>
                </ul>
                <br />
                <div style="color:white;">
                    <center>
                        <label style="margin-left:-20px;">
                            Name:<label>@ViewBag.username</label><br />
                            <label style="margin-left:0px;">
                                Type:<label>@ViewBag.usertype</label><br />
                                <label style="margin-left:0px;">ID:<label>@ViewBag.empid</label>

                    </center>
                </div>



            </div>
            <hr />
            <a href="#">Profile</a>
            <a href="#" id="edit">Edit</a>
            <a href="@Url.Action("ChangePassword","Home")">Change Password </a>
            @*<a href="#" onclick="myFunction1()">Leave</a>*@



        </div>
        <div id="leave-container">
            @************heading row(full)****************@
            <div class="row">
                <div class="col-sm-9" id="leave-heading">
                    <p class="title">Leave<p>
                </div>
            </div>
            @******************** 2nd row**********************@
            <div class="row">
                <div class="col-sm-9" id="leave">
                    <p class="heading1">leave management</p>
                   
                    <form>
                        <label class="lable-font"><b>Position:</b></label>
                        <select id="position">
                        </select>
                        <label class="lable-font"><b>Shift:</b></label>
                        <select id="shift-select">
                            <option>General Shift</option>
                            <option>Morning Shift</option>
                            <option>Night Shift</option>
                        </select>
                        <label class="lable-font"><b>Sort by</b></label>
                        <select id="sortby">
                            <option>sort by </option>
                        </select>
                        <input type="button" value="Show" id="show"></input>

                        <hr class="hr" />
                        <table id="t1">
                            <thead>
                            <th>Emp-ID</th>
                            <th>Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Type</th>
                            <th>Comments</th>
                            <th>Grant</th>
                            <th>Reject</th>
                            </thead>
                            <tbody id="employeeleaves"></tbody>
                        </table>
                        @*<label>No of staff that can be booked at a time</label><br />
        <label>There are no vacation request waiting approval</label
        <hr class="hr" />
        <ul style="list-style-type:none">
            <li><a href="@Url.Action("ShiftPlanning","Home")">Click here to view/manage-leave schedule page</a></li>
            <hr style="border:1px solid #f6f6f6" />
            <li> Awating Approval</li>
            <hr />
            <li>You have no request awating approval</li>
            <hr />
            <li>Upcomming time 0/1</li>
            <hr />
            <li>You have not requested any time</li>

        </ul>*@
                        <button class="button" id="submit">Submit</button><br /><br />
                    </form>
                </div>
            </div>
        </div>
        </div>
</body>

<script>

   
    $(document).ready(function () {
      
        function myFunction1() {

            document.getElementById("leave").style.display = "block";

            document.getElementById("request").style.display = "none";
        }

        function myFunction2() {

            document.getElementById("leave").style.display = "none";

            document.getElementById("request").style.display = "block";

        }
   
   
        $("#edit").click(function () {
            window.open("/Home/EditEmployee");
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            // data: "{employee:" + JSON.stringify(employee) + "}",
            url: "/Home/showleavesReuest",
            success: function (data) {
                var setdata = $("#employeeleaves");
               $("#employeeleaves").empty();
                for (i = 0; i < data.length; i++) {
                    var milisegundos = parseInt(data[i].datefrom.replace("/Date(", "").replace(")/", ""));
                    var datefrom = new Date(milisegundos).toLocaleDateString("en-UE");
                    var milisegundos1 = parseInt(data[i].dateto.replace("/Date(", "").replace(")/", ""));
                    var dateto = new Date(milisegundos1).toLocaleDateString("en-UE");
                    var data1 = "<tr onclick='getVal(this)' class='row_" + data[i].id + "'>" +
                        "<td>" + data[i].id + "</td>" +
                        "<td>" + data[i].name + "</td>" +
                        "<td>" + datefrom + "</td>" +
                        "<td>" + dateto + "</td>" +
                        "<td>" + data[i].LeaveType + "</td>" +
                        "<td>" + data[i].comment + "</td>" +
                        "<td>" + '<input type= "checkbox" class="s1" id="grant" onchange= "ss(this)" />' + "</td>" +
                        "<td>" + '<input type= "checkbox" id="reject" />' + "</td>" +
                        "</tr>";
                    setdata.append(data1);

                }

            }
        })

        $.ajax({
            type: "POST",
            contentType: "application/json",
            // data: "{employee:" + JSON.stringify(employee) + "}",
            url: "/Home/Designation",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var a = '<option value="' + data[i].trim() + '">' + data[i].trim() + '</option>';
                    $('#position').append(a);
                    }
            }
        })
        
    });

   
    $("#submit").click(function () {
       t = document.getElementById('employeeleaves').rows;
       
       var l1, l2;
       var celval = new Array()
       var celval1 = new Array()
       
       for (var i = 0; i < t.length; i++) {

           //for (var j = 0; j < t[i].cells; j++) {
           var $chkbox = $(t[i].cells[6]).find('input[type="checkbox"]');
           var status = $chkbox.prop('checked');
           if (status == true) {
               var id = t[i].cells[0].innerHTML;
               var employee = { EmpId: id, }
               $.ajax({
                   type: "POST",
                   contentType: "application/json",
                   data: "{employee:" + JSON.stringify(employee) + "}",
                   url: "/Home/approveLeave",
                   success: function (data) {
                       alert(data);

                   }
               })
           }
           else {
               var $chkbox = $(t[i].cells[7]).find('input[type="checkbox"]');
               var status1 = $chkbox.prop('checked');
               if (status1 == true) {
                   var id = t[i].cells[0].innerHTML;
                   var employee = { EmpId: id, }
                   $.ajax({
                       type: "POST",
                       contentType: "application/json",
                       data: "{employee:" + JSON.stringify(employee) + "}",
                       url: "/Home/rejectLeave",
                       success: function (data) {
                           alert(data);

                       }
                   })
               }
               //}




           }
       }

    });
    $("#show").click(function () {
        call();
    });
    function call() {
        var employee = { Designation: $("#position option:selected").val() }

        $.ajax({
            type: "POST",
            contentType: "application/json",
            data: "{employee:" + JSON.stringify(employee) + "}",
            url: "/Home/GetleavedatabyDep",
            success: function (data) {

                if (data[0].datefrom == null) {
                    alert("No Records Found!!");
                }
                else {
                    $("#employeeleaves").empty();
                    var setdata = $("#employeeleaves");

                    for (i = 0; i < data.length; i++) {
                        var milisegundos = parseInt(data[i].datefrom.replace("/Date(", "").replace(")/", ""));
                        var datefrom = new Date(milisegundos).toLocaleDateString("en-UE");
                        var milisegundos1 = parseInt(data[i].dateto.replace("/Date(", "").replace(")/", ""));
                        var dateto = new Date(milisegundos1).toLocaleDateString("en-UE");
                        var data1 = "<tr onclick='getVal(this)' class='row_" + data[i].id + "'>" +
                            "<td>" + data[i].id + "</td>" +
                            "<td>" + data[i].name + "</td>" +
                            "<td>" + datefrom + "</td>" +
                            "<td>" + dateto + "</td>" +
                            "<td>" + data[i].LeaveType + "</td>" +
                            "<td>" + data[i].comment + "</td>" +
                            "<td>" + '<input type= "checkbox" id="grant" onchange= "ss(this)" />' + "</td>" +
                            "<td>" + '<input type= "checkbox" id="reject" />' + "</td>" +
                            "</tr>";
                        setdata.append(data1);

                    }

                }
            }
            })
   
    }
</script>
