
@{
    ViewBag.Title = "DashBoard";
    Layout = null;
}
<title>Dashboard</title>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <link href="~/MainPage/css/bootstrap.css" rel="stylesheet" />
    <link href="~/MainPage/css/style.css" rel="stylesheet" />
    <link href="~/MainPage/css/circle.css" rel="stylesheet" />
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    @*<link href="~/MainPage/css/style.css" rel="stylesheet" type="text/css" media="all" />*@
    <!---->
    @*<link href="~/MainPage/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />*@
    @*<link href="~/MainPage/css/style.css" rel="stylesheet" type="text/css" media="all" />*@
    <!-- js -->
    <!-- //js -->
    <!--End-slider-script-->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/MainPage/css/font-awesome.min.css" />

    <!---->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/MainPage/js/jquery-1.9.1.min.js"></script>
    @*<script src="~/MainPage/js/easyResponsiveTabs.js"></script>*@
    @*<script type="text/javascript" src="~/MainPage/js/jquery-2.1.4.min.js"></script>*@
    <link href="~/MainPage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    @*<link href="~/MainPage/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/MainPage/css/style.css" rel="stylesheet" />
    <link href="~/MainPage/css/circle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MainPage/css/font-awesome.min.css" />

    @* circle piechart js *@

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
      
        //map = new OpenLayers.Map("mapdiv0");
        //map.addLayer(new OpenLayers.Layer.OSM());

        //var pois = new OpenLayers.Layer.Text("My Points",
        //    {
        //        location: "./textfile.txt",
        //        projection: map.displayProjection
        //    });
        //map.addLayer(pois);
        //// create layer switcher widget in top right corner of map.
        //var layer_switcher = new OpenLayers.Control.LayerSwitcher({});
        //map.addControl(layer_switcher);
        ////Set start centrepoint and zoom
        //var lonLat = new OpenLayers.LonLat(9.5788, 48.9773)
        //    .transform(
        //        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
        //        map.getProjectionObject() // to Spherical Mercator Projection
        //    );
        //var zoom = 11;
        //map.setCenter(lonLat, zoom);

    </script>
    <script>
      
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        //draw default chart on page load
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                //['', ''],
                //['Running', 0],
                //['Idle', 0],
                ['Stop', 100],
                //['Inactive', 0],
                //['No Data', 7]
            ]);

            // var options = {
            //   title: 'My Daily Activities'
            // };
            var options = {
                width: 350,
                height: 200,
                title: '',
                colors: ['#1d9e06', '#efb50a', '#ff0000', '#06119e', '#000000'],
                background: '#cacaca',
            };

            //chart.draw(data, options);

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        $(".add").on("click", function () {
          
        });
       
    </script>
    <script>
        $.xhrPool = [];
        $.xhrPool.abortAll = function () {
            $(this).each(function (idx, jqXHR) {
                jqXHR.abort();
            });
            $.xhrPool = [];
        };

        $.ajaxSetup({
            beforeSend: function (jqXHR) {
                $.xhrPool.push(jqXHR);
            },
            complete: function (jqXHR) {
                var index = $.xhrPool.indexOf(jqXHR);
                if (index > -1) {
                    $.xhrPool.splice(index, 1);
                }
            }
        });

        $(function () {

          setInterval(loaddata, 5000);  // invoke load 5 second
            loaddata(); // load on initial page loaded
        });
        $(function () {

            setInterval(loadboard, 10000);  // invoke load 10 second
            loadboard(); // load on initial page loaded
        });

        //bind data to dashboard page table
        function loadboard() {

            $.xhrPool = [];
            $.xhrPool.abortAll = function () {
                $(this).each(function (idx, jqXHR) {
                    jqXHR.abort();
                });
                $.xhrPool = [];
            };

            $.ajaxSetup({
                beforeSend: function (jqXHR) {
                    $.xhrPool.push(jqXHR);
                },
                complete: function (jqXHR) {
                    var index = $.xhrPool.indexOf(jqXHR);
                    if (index > -1) {
                        $.xhrPool.splice(index, 1);
                    }
                }
            });


            $.xhrPool.abortAll();


            var setdata = $("#BindGrid");
            $.ajax({
                type: "POST",
                contentType: "application/json",
                data: "",
                url: "/Home/DashBoardLive",
                success: function (data) {
                    $("#BindGrid").empty();

                    //var setdata = $("#BindGrid");
                    //$("#BindGrid").empty();
                    for (var i = 0; i < data.length; i++) {
                        // alert(data[i].imei);
                        var distance = (data[i].totoalDistance / 1000).toFixed(2);
                        var stoppedhr = (data[i].Stopped / 3600).toFixed(2);
                        var start = (data[i].start / 3600).toFixed(2);
                        var equal = stoppedhr - start;
                        var maxspeed = data[i].MaxSpeed;
                        var speed = data[i].Speed;
                        var map1 = "mapdiv" + i.toString();
                        //var IdelStart = data[i].IdelStart;
                        //alert(IdelStart);
                        //var thedate = parseInt(data[i].IdelStart.replace("/Date(", "").replace(")/", ""));
                        //var workingHrStart = new Date(thedate).toLocaleString();
                        if (maxspeed == null) {
                            maxspeed = "No Data 0";
                        }
                       if (speed == null) {
                            speed = "No Data 0";
                        }

                       if (data[i].State > 32955 && speed<45) {

                          //bind data to table if vehicle is running
                            var data1 = "<tr class='row_" + data[i].DeviceIMEI + "'>" +
                                "<td style='color: black;width:25%;'>" + '<img src="../Layout4/images/new truck.png" style="width:26%;"/>&nbsp; ' + '<br/>' + '<br/>' + "Vehicle_No: " + "  " + "  " + data[i].DeviceName + '<br/>' + "IMEI:" + " " + data[i].imei + '<br/>' + "Vehicle_Type:" + " " + data[i].type /*+ '<br/>'*/ + '<br/>' + '<label for="Details" style="font-weight:600;color:#000">Daily Detail</label>' + '<br/>' + "Distance:" + " " + distance + "Km" + '<br/>' /*+ "Idle:" + " " + data[i].Idel + '<br/>'*/ + "Stopped:" + " " + equal + "Hrs" + '<br/>' + "Speed:" + " " + speed + "Km/hr" + '</br>' + '&nbsp' + "MAX:" + maxspeed + "Km/hr" + "</td>" +
                                //"<td style='color: black;text-align:center'>" + "</td>" +
                                //"<td style='color: black;text-align:center'>" + data[i].Speed1 + " " + "km/h" + " " + " " + '<img src="../MainPage/images/enginon.jpg"  width="16" height="16" title="Engine_On"/> ' + " " + '<img src="../MainPage/images/mwifi_td.png" width="20" height="16" title="Connection:YES,GPS:YES" />' + "</td>" +
                                //"<td style='color: black;text-align:center;'>" + '<label for="Details" style="font-weight:600;color:#000;margin-bottom: 0px;">Reports</label>' + '<br/>' + '<a href="@Url.Action("MainPage", "Home")" style=" margin-bottom: 2px;">Start Stop</a>'+'<br/>' + '<a href="@Url.Action("MainPage", "Home")">Monthly Analysis</a> <br />' + "</td>" +
                                "<td style='color: black;'>" + '<h3 class="text-center" style="margin-bottom: 19px;">Notification</h3>' + '<div style="float:left;"><a href="#" style="color: green;"><i class="fa fa-comment fs28" aria-hidden="true"></i><br />SOS</a><br/><a href="#" style="color: green;"><i class="fa fa-exclamation-circle fs28" aria-hidden="true"></i><br />Geofence</a> <br /><a href="#" style="color: green;"><i class="fa fa-battery-full fs28" aria-hidden="true"></i><br />Battery</a><br/><a href="#" style="color: green;"><i class="fa fa-tachometer fs28"style="color:green" aria-hidden="true"></i><br />Speed</a><br/><a href="#" style="color: green;"><i class="fa fa-exclamation-triangle fs28" style="color:green" aria-hidden="true"></i><br />Ignition</a><br><br/></div><br/><div class="report" style="float:left;margin-left:33px;">Report<hr/><span class="fleft1"><label name="im0" class="add0" id="im0" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataStartStop(this)" ></label></a><br /><label name="im" class="add" id="im" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataFleetAnyalisis(this)" >  Monthly Analysis</label></a><br /><label name="beginendday" class="Begin" id="beginendday" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataBeginEndDay(this)" >  Begin End Day</label></a><br /></span></div><div class="report" style="float:left;margin-left:17px;">MAP<hr/><span class="fleft1"><a href="@Url.Action("MainPage", "Home")">Live Tracking</a><br /><a href="#" onclick="PassdataPlayMap(this)">Play Map</a><br /></span><div class="vehicle report" style="float: left;margin-left:100px;margin-top:-61px;">Configure<hr /><br />Max Speed &nbsp<label for="Details" style= "font-weight:600;color:#000" id="MaxSpeed">45</label ></div><input type="hidden"  class="a21" name="quantity" value=' + data[i].imei + '></div><div id='+map1+'></div>' + "</td>" +
                                "</tr>";

                            setdata.append(data1);
                            $("#L1").hide();
                       }
                        else if (data[i].State > 32955 && speed>45) {

                          //bind data to table if vehicle is running
                            var data1 = "<tr class='row_" + data[i].DeviceIMEI + "'>" +
                                "<td style='color: black;width:25%;'>" + '<img src="../Layout4/images/new truck.png" style="width:26%;"/>&nbsp; ' + '<br/>' + '<br/>' + "Vehicle_No: " + "  " + "  " + data[i].DeviceName + '<br/>' + "IMEI:" + " " + data[i].imei + '<br/>' + "Vehicle_Type:" + " " + data[i].type /*+ '<br/>'*/ + '<br/>' + '<label for="Details" style="font-weight:600;color:#000">Daily Detail</label>' + '<br/>' + "Distance:" + " " + distance + "Km" + '<br/>' /*+ "Idle:" + " " + data[i].Idel + '<br/>'*/ + "Stopped:" + " " + equal + "Hrs" + '<br/>' + "Speed:" + " " + speed + "Km/hr" + '</br>' + '&nbsp' + "MAX:" + maxspeed + "Km/hr" + "</td>" +
                                //"<td style='color: black;text-align:center'>" + "</td>" +
                                //"<td style='color: black;text-align:center'>" + data[i].Speed1 + " " + "km/h" + " " + " " + '<img src="../MainPage/images/enginon.jpg"  width="16" height="16" title="Engine_On"/> ' + " " + '<img src="../MainPage/images/mwifi_td.png" width="20" height="16" title="Connection:YES,GPS:YES" />' + "</td>" +
                                //"<td style='color: black;text-align:center;'>" + '<label for="Details" style="font-weight:600;color:#000;margin-bottom: 0px;">Reports</label>' + '<br/>' + '<a href="@Url.Action("MainPage", "Home")" style=" margin-bottom: 2px;">Start Stop</a>'+'<br/>' + '<a href="@Url.Action("MainPage", "Home")">Monthly Analysis</a> <br />' + "</td>" +
                                "<td style='color: black;'>" + '<h3 class="text-center" style="margin-bottom: 19px;">Notification</h3>' + '<div style="float:left;"><a href="#" style="color: green;"><i class="fa fa-comment fs28" aria-hidden="true"></i><br />SOS</a><br/><a href="#" style="color: green;"><i class="fa fa-exclamation-circle fs28" aria-hidden="true"></i><br />Geofence</a> <br /><a href="#" style="color: green;"><i class="fa fa-battery-full fs28" aria-hidden="true"></i><br />Battery</a><br/><a href="#" style="color: green;"><i class="fa fa-tachometer fs28"style="color:red" aria-hidden="true"></i><br />Speed</a><br/><a href="#" style="color: green;"><i class="fa fa-exclamation-triangle fs28" style="color:green" aria-hidden="true"></i><br />Ignition</a><br><br/></div><br/><div class="report" style="float:left;margin-left:33px;">Report<hr/><span class="fleft1"><label name="im0" class="add0" id="im0" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataStartStop(this)" ></label></a><br /><label name="im" class="add" id="im" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataFleetAnyalisis(this)" >  Monthly Analysis</label></a><br /><label name="beginendday" class="Begin" id="beginendday" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataBeginEndDay(this)" >  Begin End Day</label></a><br /></span></div><div class="report" style="float:left;margin-left:17px;">MAP<hr/><span class="fleft1"><a href="@Url.Action("MainPage", "Home")">Live Tracking</a><br /><a href="#" onclick="PassdataPlayMap(this)">Play Map</a><br /></span><div class="vehicle report" style="float: left;margin-left:100px;margin-top:-61px;">Configure<hr /><br />Max Speed &nbsp<label for="Details" style= "font-weight:600;color:#000" id="MaxSpeed">45</label ></div><input type="hidden"  class="a21" name="quantity" value=' + data[i].imei + '></div><div id='+map1+'></div>' + "</td>" +
                                "</tr>";

                            setdata.append(data1);
                            $("#L1").hide();
                        }
                        else if (data[i].State < 32950) {
                              //bind data to table if vehicle is stop
                            var data1 = "<tr class='row_" + data[i].DeviceIMEI + "'>" +
                                "<td style='color: black;width:25%;'>" + '<img src="../Layout4/images/new truck.png" style="width:26%;"/>&nbsp; ' + '<br/>' + '<br/>' + "Vehicle_No: " + "  " + "  " + data[i].DeviceName + '<br/> IMEI:<label name="im" id="im" for="Details" style="color:#000")" > ' + data[i].imei + '</label>' + '<br/>' + "Vehicle_Type:" + " " + data[i].type /*+ '<br/>'*/ + '<br/>' + '<label for="Details" style="font-weight:600;color:#000">Daily Detail</label>' + '<br/>' + "Distance:" + " " + distance + "Km"/* + '<br/>'  "Idle:" + " " + data[i].Idel*/ + '<br/>' + "Stopped:" + " " + equal + "Hrs" + '<br/>' + "Speed:" + " " + speed + "Km/hr" + '</br>' + '&nbsp' + "MAX:" + maxspeed + "Km/hr" + "</td>" +
                                //"<td style='color: black;text-align:center'>" + "</td>" +
                                //"<td style='color: black;text-align:center'>" + data[i].Speed1 + " " + "km/h" + " " + " " + '<img src="../MainPage/images/enginon.jpg"  width="16" height="16" title="Engine_On"/> ' + " " + '<img src="../MainPage/images/mwifi_td.png" width="20" height="16" title="Connection:YES,GPS:YES" />' + "</td>" +
                                //"<td style='color: black;text-align:center;'>" + '<label for="Details" style="font-weight:600;color:#000;margin-bottom: 0px;">Reports</label>' + '<br/>' + '<a href="@Url.Action("MainPage", "Home")" style=" margin-bottom: 2px;">Start Stop</a>'+'<br/>' + '<a href="@Url.Action("MainPage", "Home")">Monthly Analysis</a> <br />' + "</td>" +
                                "<td style='color: black;'>" + '<h3 class="text-center" style="margin-bottom: 19px;">Notification</h3>' + '<div style="float:left;"><a href="#" style="color: green;"><i class="fa fa-comment fs28" aria-hidden="true"></i><br />SOS</a><br/><a href="#" style="color: green;"><i class="fa fa-exclamation-circle fs28" aria-hidden="true"></i><br />Geofence</a> <br /><a href="#" style="color: green;"><i class="fa fa-battery-full fs28" aria-hidden="true"></i><br />Battery</a><br/><a href="#" style="color: green;"><i class="fa fa-tachometer fs28" style="color: green;" aria-hidden="true"></i><br />Speed</a><br/><a href="#" style="color: green;"><i class="fa fa-exclamation-triangle fs28" style="color:red" aria-hidden="true"></i><br />Ignition</a><br><br/></div><div class="report" style="float:left;margin-left:33px;">Report<hr/><span class="fleft1"><a><label name="im0" class="add0" id="im0" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataStartStop(this)" ></label></a><br /><label name="im" class="add" id="im" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataFleetAnyalisis(this)" >  Monthly Analysis</label></a><br /><label name="beginendday" class="Begin" id="beginendday" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataBeginEndDay(this)" >  Begin End Day</a><br /></span></div><div class="report" style="float:left;margin-left:17px;">MAP<hr/><span class="fleft1"><a href="@Url.Action("MainPage", "Home")">Live Tracking</a><br /><a  href="#"  onclick="PassdataPlayMap(this)" >Play Map</a><br /></span><div class="vehicle report" style="float: left;margin-left:100px;margin-top:-61px;">Configure<hr /><br />Max Speed &nbsp<label for="Details" style= "font-weight:600;color:#000" id="MaxSpeed">45</label ></div><input type="hidden"  class="a21" name="quantity" value=' + data[i].imei + '></div><div id=' + map1 +'></div>' + "</td>" +
                                "</tr>";
                            setdata.append(data1);
                            $("#L1").hide();
                        }
                        else if (Stop[i].State == 32952)
                       {
                              //bind data to table if vehicle is Idel
                            var data1 = "<tr class='row_" + data[i].DeviceIMEI+ "'>" +
                                "<td style='color: black;width:25%;'>" + '<img src="../Layout4/images/new truck.png" style="width:26%;"/>&nbsp; ' + '<br/>' + '<br/>' + "Vehicle_No: " + "  " + "  " + data[i].DeviceName + '<br/>' + "IMEI:" + " " + data[i].imei + '<br/>' + "Vehicle_Type:" + " " + data[i].type + '<br/>' + /*'<br/>'*/ + '<label for="Details" style="font-weight:600;color:#000">Daily Detail</label>' + '<br/>' + "Distance:" + " " + distance + "Km" + '<br/>' /*+ "Idle:" + " " + data[i].Idel + '<br/>'*/ + "Stopped:" + " " + equal + "Hrs" + '<br/>' + "Speed:" + " " + speed + "Km/hr" + '</br>' + '&nbsp' + "MAX:" + maxspeed + "Km/hr" + "</td>" +
                                "<td style='color: black;'>" + '<h3 class="text-center" style="margin-bottom: 19px;">Notification</h3>' + '<div style="float:left;"><a href="#"><i class="fa fa-comment fs28" aria-hidden="true"></i><br />SOS</a><br/><a href="#"><i class="fa fa-exclamation-circle fs28" aria-hidden="true"></i><br />Geofence</a> <br /><a href="#"><i class="fa fa-battery-full fs28" aria-hidden="true"></i><br />Battery</a><br/><a href="#"><i class="fa fa-tachometer fs28"  aria-hidden="true"></i><br />Speed</a><br/><a href="#"><i class="fa fa-exclamation-triangle fs28" style="color:green" aria-hidden="true"></i><br />Ignition</a><br><br/></div><div class="report" style="float:left;margin-left:33px;">Report<hr/><span class="fleft1"><label name="im0" class="add0" id="im0" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataStartStop(this)" ></label></a><br /><label name="im" class="add" id="im" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataFleetAnyalisis(this)" >Monthly Analysis</label></a><br /><label name="beginendday" class="Begin" id="beginendday" for="Details" value=' + data[i].imei + ' style="color:#000" onclick="PassDataBeginEndDay(this)" >  Begin End Day</a><br /></span></div><div class="report" style="float:left;margin-left:17px;">MAP<hr/><span class="fleft1"><a href="@Url.Action("MainPage", "Home")">Live Tracking</a><br /><a onclick="PassdataPlayMap(this)">Play Map</a><br /></span><div class="vehicle report" style="float: left;margin-left:100px;margin-top:-61px;">Configure<hr /><br />Max Speed &nbsp<label for="Details" style= "font-weight:600;color:#000" id="MaxSpeed">45</label ><input type="hidden"  class="a21" name="quantity" value=' + data[i].imei + '></div></div><div id=' + map1 +'></div>' + "</td>" +
                                "</tr>";
                            setdata.append(data1);
                            $("#L1").hide();
                       }



                    }
                    //bind map and markers to table rows
                    for (var j = 0; j < data.length; j++) {


                            map1 = "mapdiv" + j.toString();

                        map = new OpenLayers.Map(map1);
                        map.addLayer(new OpenLayers.Layer.OSM());

                        epsg4326 = new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
                        projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

                        var lonLat = new OpenLayers.LonLat(data[j].Long, data[j].Lat).transform(epsg4326, projectTo);

                        var zoom = 5;
                        map.setCenter(lonLat, zoom);

                        var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

                        // Define an array. This could be done in a seperate js file.
                        // This tidy formatted section could even be generated by a server-side script (jsonp)
                        var markers = [
                            [data[j].Long, data[j].Lat]
                        ];
                        var zoom = 17;
                        map.setCenter(markers, zoom);
                        //Loop through the markers array
                        for (var i = 0; i < markers.length; i++) {

                            var lon = markers[i][0];
                            var lat = markers[i][1];

                            var feature = new OpenLayers.Feature.Vector(
                                new OpenLayers.Geometry.Point(lon, lat).transform(epsg4326, projectTo),
                                { description: "marker number " + i },
                                { externalGraphic: '../Layout4/images/new truck.png', graphicHeight: 25, graphicWidth: 28, graphicXOffset: -12, graphicYOffset: -25 }
                            );
                            vectorLayer.addFeatures(feature);
                        }

                        map.addLayer(vectorLayer);

                    }
                }
            });
        }


        function loaddata() {
            //bind all charts
            var stop = 0;
            var running = 0;
            var b = 'p'
            var a;
            var c;
              $.ajax({
                type: "POST",
                contentType: "application/json",
                // data: "{product:" + JSON.stringify(product) + "}",
                url: "/Home/StopDevices",
                success: function (Stop) {
                    var a = 0;
                    var s = 0;
                    var idel = 0;
                    for (var i = 0; i < Stop.length; i++) {

                        if (Stop[i].running != null) {
                            if (Stop[i].running < 32950) {

                                a = a + 1;
                            }
                             if (Stop[i].running > 32950 && Stop[i].speed>5) {
                                s = s + 1;

                            }
                             if (Stop[i].running > 32950 && Stop[i].speed < 5) {
                                idel = idel + 1;
                            }
                                //d= 100;

                        }


                        var b = 'p'
                        var c = b + a;
                        if (a > 0) {

                            var data1 = google.visualization.arrayToDataTable([
                                ['', ''],

                                ['Stop', a],
                                ['Running', s],
                                ['Idle', idel],
                                //['Inactive', 0],
                                //['No Data', 0]

                            ]);
                            var options = {
                                width: 350,
                                height: 200,
                                title: '',
                                colors: ['red', 'green', '#efb50a', 'red', '#000000'],
                                background: '#cacaca',
                            };


                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                            chart.draw(data1, options);
                        }
                        //var b=

                        $('#red').addClass(c);
                        document.getElementById("redvalue").textContent = a;
                        //$('#green').addClass(c);

                        document.getElementById("greenvalue").textContent = s;
                        $('#yellow').addClass(c);
                        document.getElementById("YellowValue").textContent = idel;
                    }

                }
            });

        }
        //open fleet anyalisis report page and redirect
        function PassDataFleetAnyalisis(Id) {

            var Id = $(Id).closest('tr').find('.a21').val();//pass imei of clicked row
            var url = '@Html.Raw(Url.Action("ReportsFleetAnyalysis", "Home", new { Vehicle_No = "_VNo_" }))';
            var params = url.replace('_VNo_', Id);
            window.open(params, '_blank');
        }
        //pass data to startstop report page and redirect
        function PassDataStartStop(Id) {
                  var Id = $(Id).closest('tr').find('.a21').val();//pass imei of clicked row
            var url = '@Html.Raw(Url.Action("StartStopReport", "Home", new { Vehicle_No = "_VNo_" }))';
            var params = url.replace('_VNo_', Id);
            window.open(params, '_blank');
        }
        //pass data to begin end day report page and redirect
          function PassDataBeginEndDay(Id) {

              var Id = $(Id).closest('tr').find('.a21').val();//pass imei of clicked row
            var url = '@Html.Raw(Url.Action("BeginEndDayReport", "Home", new { Vehicle_No = "_VNo_" }))';
            var params = url.replace('_VNo_', Id);
            window.open(params, '_blank');
        }
        //pass data to play map page and redirect
         function PassdataPlayMap(Id) {

             var Id = $(Id).closest('tr').find('.a21').val();//pass imei of clicked row
            var url = '@Html.Raw(Url.Action("PlayMap", "Home", new { Vehicle_No = "_VNo_" }))';
            var params = url.replace('_VNo_', Id);
            window.open(params, '_blank');
                    }

        //bind dropdown
        //$(function () {
        //    $.ajax({
        //        url: "/Home/GetVehicleType",
        //        type: "Get",
        //        success: function (data) {
        //            $("#op1 option").remove();
        //            var opt2 = new Option("Select", "Select");
        //            $('#op1').append(opt2);
        //            for (var i = 0; i < data.length; i++) {
        //                var opt = new Option(data[i].Vehicle_Type);
        //                $('#op1').append(opt);

        //            }

        //        }

        //    })
        //});
    </script>

</head>
<body>
    <!--Header-->
    <div class="header" style="padding:0em">
        <div class="container-fluid">
            <div class="address-info">
                <nav class="navbar navbar-default">

                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand"><a href="@Url.Action("MainPage", "Home")"> <img src="~/MainPage/images/preloader.gif" style="height: 79px;width: 155px;margin-bottom: -11px;margin-top: -7px; float:left" id="logo" title=""> </a></h1>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav">
                                <li class="active1">
                                    <a href="@Url.Action("MainPage", "Home")"><i class="fa fa-wifi" class="imgstyle" title="Live Tracking" id="signInButton"></i></a>
                                    <span class="hedtxt">Live</span>
                                </li>
                                <li>
                                    <a href="@Url.Action("DashBoard", "Home")" target="_blank">
                                        <i class="fa fa-desktop" class="imgstyle" style="text-align:center;padding-left:5px;"></i>
                                    </a><span class="hedtxt">Dashboard</span>
                                </li>
                                <li id="load">
                                    <a href="@Url.Action("Log", "Home")" target="_blank">
                                        <i class="fa fa-list-alt" class="imgstyle" style=""></i>
                                    </a><span class="hedtxt">Logs</span>
                                </li>
                                <li>
                                    <a href="@Url.Action("Reports", "Home")" target="_blank">
                                        <i class="fa fa-chart-bar imgstyle1" style="margin-right:1px;"></i>
                                    </a><span class="hedtxt">Report</span>
                                </li>
                                <li>
                                    <a href="@Url.Action("Visit", "Home")" target="_blank">
                                        <i class="fa fa-map-marker" class="imgstyle" style="padding-left:5px;"></i>
                                    </a><span class="hedtxt">Tracking</span>
                                </li>


                                <li>
                                    <a><i class="fa fa-user" class="imgstyle" onclick="myFunction()" title="@Request.RequestContext.HttpContext.Session["username"]" id="fauser"></i></a>
                                    <span class="hedtxt" style="margin-left: 6px;">User</span>
                                    <div class="dropdown" style="width: 100%;
    margin-left: -73px;">

                                        <div id="myDropdown" class="dropdown-content" style="  width: 257%;
    margin-left: -81px;
    margin-top: 15px;
    height: 114px;
    border: 1px solid;
    border-radius: 40px;
    background: white;">
                                            <a href="#">
                                                <i class="fa fa-user" class="imgstyle" style="    font-size: 30px;
    margin-right: 4px;"></i>
                                            </a>
                                            <span><label>@Request.RequestContext.HttpContext.Session["username"]</label></span>
                                            <br />
                                            <a href="@Url.Action("ChangePassword", "Home")" target="_blank">
                                                <lable id="change">Change Password</lable>
                                            </a><div style="margin-top: 0px;">
                                                <a id="LogOut">
                                                    <i class="fa fa-sign-out" class="imgstyle" title="LogOut" id="LogOut">Logout</i>
                                                </a>

                                            </div>

                                        </div>



                                    </div>
                                </li>
                                <a style="visibility: hidden;" href="/Login.aspx" id="logout1">aa</a>

                            </ul>
                        </nav>
                    </div>
            </div>
            </nav>
        </div>
    </div>
    <!--Header-->

    <div class="container-fluid">
        <div class="container pt-5">

            <div class="clearfix1">
                <div class="row" style="background:#fff">

                    <div class="col-md-8 lh421">

                        <div class="col-sm-21 pdl">
                            <div class="c100 small green p100" id="green">
                                <span id="greenvalue" style="color:black">0</span>
                                <div class="slice text-center">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <span style="margin-left:19px;">Running</span>
                        </div>

                        <div class="col-sm-21 pdl">
                            <div class="c100 small yellow p100" id="yellow">
                                <span id="YellowValue" style="color:black">0</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <span style="margin-left:31px">
                                Idle
                            </span>
                        </div>

                        <div class="col-sm-21 pdl">
                            <div class="c100 small red p100" id="red">
                                <span id="redvalue" style="color:black">0</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <span style="margin-left:27px">
                                Stop
                            </span>
                        </div>

                        <div class="col-sm-21 pdl" id="blue">
                            <div class="c100 small blue p100">
                                <span id="bluevalue" style="color:black">0</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <span style="margin-left:19px">
                                Inactive
                            </span>

                        </div>

                    </div>

                    <div class="col-md-2 pdl1">
                        <div class="col-sm-21 pdl1">
                            <div id="piechart" class="" style="width: 350px;"></div>
                        </div>
                    </div>
                </div>


            </div>
            <hr style="border-bottom:1px solid #cacaca" />




            <div class="container-fluid pt-5 fs11 bgover">
                <table id="t1" width="100%" style="overflow-y: auto;" border="1" cellpadding="0" cellspacing="0">

                    <thead>

                    </thead>
                    <tbody id="BindGrid" style="font-size: 11px;padding:1px !important; background:red">
                        <tr id="LoadingStetus" style="color:red;text-align:center" onclick="getVal();"></tr>
                    </tbody>

                </table>

                <div class="container-fluid" style="text-align:center" id="L1">
                    <img src="/MainPage/images/preloader.gif" style="height:20%;width:18%;margin-top: 5%;">
                </div>
            </div>
            <!--notification end-->
            <!--google map-->

            <div class="col-md-3" b1>
                <style>
                    /* Set the size of the div element that contains the map */
                    #mapdiv0, #mapdiv1, #mapdiv2, #mapdiv3, #mapdiv4, #mapdiv5, #mapdiv6, #mapdiv7, #mapdiv8, #mapdiv9, #mapdiv10, #mapdiv11, #mapdiv12, #mapdiv13, #mapdiv14, #mapdiv15, #mapdiv16, #mapdiv17, #mapdiv18, #mapdiv19, #mapdiv20, #mapdiv21, #mapdiv22, #mapdiv3, #mapdiv4, #mapdiv25, #mapdiv26, #mapdiv27, #mapdiv28, #mapdiv29, #mapdiv30, #mapdiv31, #mapdiv32, #mapdiv33, #mapdiv34, #mapdiv35, #mapdiv36, #mapdiv38, #mapdiv39, #mapdiv40, #mapdiv41, #mapdiv42, #mapdiv43, #mapdiv44, #mapdiv45, #mapdiv46, #mapdiv47, #mapdiv48, #mapdiv49, #mapdiv50 {
                        height: 195px; /* The height is 400 pixels */
                        width: 40%;
                        float: right; /* The width is the width of the web page */
                    }
                </style>
                <!--The div element for the map -->
                <script>
                    document.getElementById("LogOut").addEventListener("click", expire);
                    function expire() {
                        document.getElementById("logout1").click();
                        $.ajax({
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            //data: "{product:" + JSON.stringify(product) + "}",
                            url: "/Home/expire",
                            success: function (data) {
                            }
                        });
                    }


                </script>
                <script type="text/javascript">
                    //Bind company logo
                    $(document).ready(function () {
                        //$("#L1").hide();


                        $.ajax({
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            // data: "{product:" + JSON.stringify(product) + "}",
                            url: "/Home/getmainlogo",
                            success: function (logo) {

                                $('#logo').attr('src', logo);
                            }
                        })
                    });
                    //dropdown value change
                    $("#FilterDropdown").change(function () {

                        var Dropdown = $("select#op1 option:selected").text();


                        if (Dropdown == "Select") {

                            $("#op2 option").remove();
                        }
                        else {
                            $("#op2 option").remove();
                            var product = { Dropdown: Dropdown }
                            $.ajax({
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                data: "{product:" + JSON.stringify(product) + "}",
                                url: "Home/GetVehicleNo",
                                success: function (data) {
                                    for (var i = 0; i < data.length; i++) {
                                        var opt1 = new Option("Select");
                                        $('#op2').append(opt1);
                                        var opt = new Option(data[i].DeviceName, data[i].DeviceIMEI);
                                        $('#op2').append(opt);
                                    }
                                }
                            });


                        }
                    });
                    //  document.getElementById("submit").addEventListener("click", PassData);
                    //submit button click
                    function submit() {
                        //var Date1 = $("#date1").val().toString();
                        //var Vehicle_type = $("select#op1 option:selected").text();
                        //var Vehicle_Imei = $("select#op2 option:selected").val();
                        //var Vehicle_no = $("select#op2 option:selected").text();
                        //if (Date1 == "") {
                        //    alert("Please Select Date");
                        //}
                        //else if (Vehicle_type == "Select") {
                        //    alert("Please Select Vehicle_Type");
                        //}
                        //else if (Vehicle_no == "" || Vehicle_no == "Select") {
                        //    alert("Please Select Vehicle_No");
                        //}
                        //else {


                        //    var product = { Dropdown: Vehicle_Imei, Date1: Date1, }


                        //    $.ajax({
                        //        type: "POST",
                        //        contentType: "application/json;charset=utf-8",
                        //        data: "{product:" + JSON.stringify(product) + "}",
                        //        url: "/Home/DashBord",
                        //        success: function (data) {

                        //        }
                        //    });
                        //}
                    }

                </script>
                <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
                <script>


                </script>
                <!--Load the API from the specified URL
                * The async attribute allows the browser to render the page while the API loads
                * The key parameter will contain your own API key (which is not needed for this tutorial)
                * The callback parameter executes the initMap() function
                -->
                @*<script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
                    </script>*@


            </div>
            <!--google map-->
        </div>
    </div>
    @* Data Div *@
   
    <div class="dashfooter"></div>
    <div class="clearfix"></div>
    <div class="footer-w3layouts" style="position: fixed;left: 0;bottom: 0;width: 100%;background: white;z-index:10000">
        <div class="agile-copy1" style="border:1px solid #e4e2e2;width:100%;">
            <div style="float:left;line-height: 30px;"> @*Copyright © 2018. All rights reserved |*@ Design by <a href="http://www.avtrack.net">AVTRACK.NET</a></div>
            @*<div style="float:right" class="frfr">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" style="1color:#3b579d"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" style="1color:#00c1f7"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true" style="1color:#0076b4"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true" style="1color:#b12f21"></i></a></li>

                </ul>
            </div>*@
        </div>
        @*<div class="agileits-social">

            </div>*@
    </div>

</body>
        </html>
