@{
    Layout = null;
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@*@model WebApplication2.Models.google_map*@


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @*<title>GPS TRACKING | Home </title>*@
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Proprietorship Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">

        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/MainPage/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/MainPage/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!-- js -->
    <script src="~/MainPage/js/jquery-1.9.1.min.js"></script>
    @*<script src="~/MainPage/js/easyResponsiveTabs.js"></script>*@
    <script type="text/javascript" src="~/MainPage/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!--End-slider-script-->
    <!-- font-awesome icons -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJOZd-P3bAJXBAYtfryQT_GTv61uRehMs&callback=initMap" data-turbolinks-eval="false"></script>
    <link rel="stylesheet" href="~/MainPage/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
   
    <link href="~/MainPage/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body style="background-color:#f5f5f5">

    <!--Header-->
    <div class="header" style="padding:0em">
        <div class="container-fluid">
            <div class="address-info">
                <nav class="navbar navbar-default">

                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand"><a href="@Url.Action("MainPage", "Home")"> <img src="~/MainPage/images/preloader.gif" id="logo" style="height: 79px;width: 155px;margin-bottom: -11px;margin-top: -7px; float:left" title=""> </a></h1>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav">
                                <li class="active1">
                                    <a href="@Url.Action("MainPage", "Home")"><i class="fa fa-wifi" class="imgstyle" title="Live Tracking" id="signInButton"></i></a>
                                    <span class="hedtxt">Live</span>
                                </li>
                                <li>
                                    <a href="@Url.Action("DashBoard", "Home")" target="_blank">
                                        <i class="fa fa-desktop" class="imgstyle" style="text-align:center;padding-left:5px;"></i>
                                    </a><span class="hedtxt">Dashboard</span>
                                </li>
                                <li id="load">
                                    <a href="@Url.Action("Log", "Home")" target="_blank">
                                        <i class="fa fa-list-alt" class="imgstyle" style=""></i>
                                    </a><span class="hedtxt">Logs</span>
                                </li>
                                <li>
                                    <a href="@Url.Action("Reports", "Home")" target="_blank">
                                        <i class="fa fa-chart-bar imgstyle1" style="margin-right:1px;"></i>
                                    </a><span class="hedtxt">Report</span>
                                </li>
                                <li>
                                    <a href="@Url.Action("Visit", "Home")" target="_blank">
                                        <i class="fa fa-map-marker" class="imgstyle" style="padding-left:5px;"></i>
                                    </a><span class="hedtxt">Tracking</span>
                                </li>

                                @*<li>
                                        <a><i class="fa fa-compass" class="imgstyle" id="ShowModel" title="Show Point"></i></a>
                                        <span class="hedtxt">Location</span>
                                    </li>*@
                                @*<li>
                                        <a><i class="fa fa-search imgstyle" id="AddressSearch" title="Address Search" style="padding-right: 50px;"></i></a>
                                        <span class="hedtxt">Address Search</span>
                                    </li>*@
                                @*<li>
                                        <a href="@Url.Action("About", "Home")"><i class="fa fa-book" class="imgstyle" title="About"></i></a>
                                        <span class="hedtxt">Manual</span>
                                    </li>*@
                                <li>
                                    <a><i class="fa fa-user" class="imgstyle" onclick="myFunction()" title="@Request.RequestContext.HttpContext.Session["username"]" id="fauser"></i></a>
                                    <span class="hedtxt" style="margin-left: 6px;">User</span>
                                    <div class="dropdown" style="width: 100%;
    margin-left: -73px;">

                                        <div id="myDropdown" class="dropdown-content" style="  width: 257%;
    margin-left: -81px;
    margin-top: 15px;
    height: 114px;
    border: 1px solid;
    border-radius: 40px;
    background: white;">
                                            <a href="#">
                                                <i class="fa fa-user" class="imgstyle" style="    font-size: 30px;
    margin-right: 4px;"></i>
                                            </a>
                                            <span><label>@Request.RequestContext.HttpContext.Session["username"]</label></span>
                                            <br />
                                            <a href="@Url.Action("ChangePassword", "Home")" target="_blank">
                                                <lable id="change">Change Password</lable>
                                            </a><div style="margin-top: 0px;">
                                                <a id="LogOut">
                                                    <i class="fa fa-sign-out" class="imgstyle" title="LogOut" id="LogOut">Logout</i>
                                                </a>

                                            </div>

                                        </div>



                                    </div>
                                </li>
                                <a style="visibility: hidden;" href="/Login.aspx" id="logout1">aa</a>
                              
                            </ul>
                        </nav>
                    </div>
            </div>
            </nav>
        </div>
    </div>
    <!--Header-->
    <!--Footer-->
    <div class="footer-w3layouts" style="   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    z-index:1">
        <div class="agile-copy1" style="border:1px solid #e4e2e2">
            <div style="float:left;line-height: 30px;"> @*Copyright © 2018. All rights reserved |*@ Design by <a href="http://www.avtrack.net">AVTRACK.NET</a></div>
            @*<div style="float:right" class="frfr">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" style="1color:#3b579d"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" style="1color:#00c1f7"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true" style="1color:#0076b4"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true" style="1color:#b12f21"></i></a></li>

                </ul>
            </div>*@
        </div>
      
    </div>
    <!--Footer-->
    <div class="clearfix"></div>

  

       
    </div>
</body>

@RenderBody()
<!-- //footer -->
<script src="~/MainPage/js/responsiveslides.min.js"></script>
<!-- for bootstrap working -->
<script src="~/MainPage/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
    </>
</html>
<script>
    $.ajax({
        type: "POST",
        contentType: "application/json;charset=utf-8",
        // data: "{product:" + JSON.stringify(product) + "}",
        url: "/Home/getmainlogo",
        success: function (logo) {
        
            $('#logo').attr('src', logo);
        }
    })
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    document.getElementById("LogOut").addEventListener("click", expire);
    function expire() {
        document.getElementById("logout1").click();
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            //data: "{product:" + JSON.stringify(product) + "}",
            url: "/Home/expire",
            success: function (data) {
            }
        });
    }
</script>
