
@{
    ViewBag.Title = "Attendances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/sidebar-dropdown.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body style="background-color:#e9e8e8;">



    <div class="sidenav attendance-sidenav">
        <div style="margin-left:10px">
            <ul style="list-style-type:none; color:white;">
                <li>
                    <img src="~/images/download2.jpg" width="70px" height="70px" style="border-radius:50%; border:solid 3px #DEB150" class="emp-img" id="sideprofile" />
                </li>
                <br />
                <div style="color:white;">
                    <center>
                        <label style="margin-left:0px;">
                            Name:<label id="user">@ViewBag.username</label><br />
                            <label style="margin-left:0px;">
                                Type:<label id="usertype">@ViewBag.usertype</label><br />
                                <label style="margin-left:0px;">ID:<label id="empid">@ViewBag.empid</label>

                    </center>
                </div>
            </ul>
            <hr />

        </div>
        <hr />
        <a href="#">Profile</a>
        <a href="@Url.Action("Employee","Home")">Edit</a>
        <a href="@Url.Action("resetclockout","Home")">Reset Clockout</a>
        <a href="#">Change Password </a>

        @*<a href="#">Overview</a>
        <a href="#">Add Clock-time</a>
        <a href="#">Upload Timesheet </a>
        @*<a href="@Url.Action("Manage_Timesheet","Home")">Manage Timesheet </a>
        <a href="@Url.Action("Clockedin_list","Home")">Clocked-in list </a>*@
        @*<a href="#">Auto Approval </a>*@


    </div>
    <div class="container" id="container3">
        @************heading row(full)****************@
        <div class="row">
            <div class="col-sm-9" id="Attendance-heading">
                <p class="title">Attendance<p>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-9" id="time_sheet">
                <p class="heading1">Time sheet</p>
                <form>
                    <div class="form-group">
                        @*<label class="lable-font">Status:</label>

                            <select id="select1">
                                <option>All</option>
                                <option>Approve</option>
                                <option>Unapprove</option>

                            </select>*@
                        <br />
                        @*<label class="lable-font">Schedule:</label>
                        <select id="select2">
                            <option value="Today">Today</option>
                            <option value="Yesterday">Yesterday</option>
                            <option value="ThisWeek">This Week</option>
                            <option value="LastWeek">Last Week</option>
                            <option value=" ThisMonth">This Month</option>
                            <option value=" LastMonth">Last Month</option>
                            <option value="AllTime">All Time</option>

                        </select>*@
                        @*</div>*@
                        <hr style="border:2px solid #e9e8e8;" />
                        <style>
                        </style>
                        <table class="table table-bordered" id="timesheet-table">
                            <thead style="background-color:#d5d5d5">
                                <tr>
                                    <th>Emp_ID</th>
                                    <th>Date</th>
                                    <th>Clock in</th>
                                    <th>Total Break</th>
                                    <th>Clock out</th>


                                </tr>
                            </thead>
                            <tbody id="t1"></tbody>
                        </table>
                        <hr style="border:2px solid #e9e8e8;" />
                        @*<label>Total Hours:</label><br />
                        <label>Without Break:</label></br>
                        <label>Break:</label>*@
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
<script>
    $(document).ready(function () {
       
        bindtable();
    });
    function bindtable() {
        $.ajax({
            type: "POST",
            //data: "{employee:" + JSON.stringify(employee) + "}",
            contentType: "application/json",
            url: "/Home/getattendances",
            success: function (data) {
                $("#t1").empty();
                var setdata = $("#t1");
                var date = new Date();
                var data2;
                var totalbreak;
                var s;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].totalbreak == null) {
                        totalbreak = "0";
                    }
                    else {
                        totalbreak = data[i].totalbreak;
                    }
                    var milisegundos = parseInt(data[i].ClockIn.replace("/Date(", "").replace(")/", ""));
                    var clockin = new Date(milisegundos).toLocaleTimeString("en-UE");
                    if (data[i].ClockOut != null) {
                        var milisegundos1 = parseInt(data[i].ClockOut.replace("/Date(", "").replace(")/", ""));
                        clockout = new Date(milisegundos1).toLocaleTimeString("en-UE");
                       s = "style=' background: #f38b8b'";
                    }
                    else {
                        clockout = "";
                    }
                    if (data[i].totalbreak > 60) {

                        data2 = "<tr  class='row_'>" +
                            "<td>" + data[i].Emp_ID + "</td>" +
                            "<td>" + date.toLocaleDateString() + "</td>" +
                            "<td style='background: #9ef99e'>" + clockin + "</td>" +
                            "<td style='color:red'>" + totalbreak + ":Min" + "</td>" +
                            "<td  title='click to reset clocked out' onclick='show(this)'>" + clockout + "</td>" +
                            "</tr>";
                    }
                    else {
                        if (data[i].ClockOut != null) {
                            data2 = "<tr  class='row_'>" +
                                "<td>" + data[i].Emp_ID + "</td>" +
                                "<td>" + date.toLocaleDateString() + "</td>" +
                                "<td  style='background: #9ef99e'>" + clockin + "</td>" +
                                "<td >" + totalbreak + ":Min" + "</td>" +
                                "<td style=' background: #f38b8b' title='click to reset clocked out' onclick='show(this)'>" + clockout + "</td>" +
                                "</tr>";
                        }
                        else {
                            data2 = "<tr  class='row_'>" +
                                "<td>" + data[i].Emp_ID + "</td>" +
                                "<td>" + date.toLocaleDateString() + "</td>" +
                                "<td  style='background: #9ef99e'>" + clockin + "</td>" +
                                "<td >" + totalbreak + ":Min" + "</td>" +
                                "<td title='click to reset clocked out' onclick='show(this)'>" + clockout + "</td>" +
                                "</tr>";
                        }
                    }
                        setdata.append(data2);
                    
                    }

            }
        })
    }

    function show(r) {
        var t = document.getElementById('t1').rows;

        for (var i = 0; i < t.length; i++) {
            if (r == t[i].cells[4]) {

                var id = t[i].cells[0].innerHTML;
                
                var employee = { EmpId: id, }
                $.ajax({
                    type: "POST",
                    url: "/Home/reset",
                    contentType: "application/json",
                    data: "{employee:" + JSON.stringify(employee) + "}",
                    success: function (data) {
                    
                        window.location.reload();
                    }
                })
            }
        }
    }
    $("#select2").change(function () {

        alert(this.value);
    })
</script>